In [13]:
import os
import pandas as pd
import shutil

In [6]:
df_train = pd.read_csv('train.csv')
df_train.head()

   idx_train                                   path_img  label
0          0  bc7696f4-1460-4d0b-a63d-f84b3be4da0f.jpeg      0
1          1  f8d50663-60d8-4da5-a8b8-79f954aec503.jpeg      2
2          2  51df0f29-758b-4741-ab74-a0ff8e21c044.jpeg      4
3          3  f61b81d3-3b79-4162-b4d6-4f1b39518c4c.jpeg      0
4          4  b21e0668-bd09-4794-9e90-da8ecffc4c1c.jpeg      0

In [4]:
df_test = pd.read_csv('test.csv')
df_test.head()

   idx_test                                           path_img
0         0  all_imgs/ec4c75ba-e064-4ed0-a7b1-3ed899424110....
1         1  all_imgs/114fb94d-3223-4d95-b6d1-f6a6ac206ea2....
2         2  all_imgs/a80e7e27-a25a-40aa-a65c-a29bfa172b3d....
3         3  all_imgs/7848d24e-207a-4236-9cd7-df78122d8787....
4         4  all_imgs/57f726bc-d141-42fb-88fa-60d554499277....

In [5]:
# for i in range(8):
#    os.mkdir(f'./train/{i}')

In [18]:
cur_dir = os.path.join("C:\\", "Hackathons", "Oracle", "Reto1", "hackathon-nuwe-oracle")
for index, row in df_train.iterrows():
    shutil.copyfile(os.path.join(cur_dir,"all_imgs",row["path_img"]), os.path.join(cur_dir,"train",str(row["label"]),row["path_img"]))